:root {
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: url("/Users/rupali.morzaria/Documents/rupali/workshops and tutorials/index space/intro to coding/public/rupalimo.github.io/images/26smilecursor.png"), pointer;
  margin: 0;
  padding: 0;
  /*--web-smoothing*/
}

html, body, section {
  padding: 0;
  margin: 0;
    }

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(30, 1fr);
  /* cursor: url("images/25smilecursor.png"), none; */

    }

p {
  display: grid;
  width: auto;
  height: auto;
  margin: 0;
  /* width: 100vw;
  height: 100vh;
  z-index: -1; */
}

section {
  background-color: yellow;
  opacity: 0;
}

section:hover {
  background: yellow;
  border-radius: 2em;
  opacity: 1;
}

a {
  text-decoration: none;
  color: black;
  padding: 0.25em 0.5em;
  border: 1px solid black;
  border-radius: 2em;
  /* cursor: crosshair; */
}

a:hover {
  color: black;
  background: yellow;
  /* border: 1px solid blue; */
  border: 1px solid yellow;

  padding: 0.25em 0.5em;
  /* text-decoration: underline; */
  cursor: none;
}
  )
/* .spotlight:hover {
  background: orangered;
  border-radius: 2em;
  opacity: 1;
} */
