:root {
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: grab;
  margin: 0;
  padding: 0;
  /*--web-smoothing*/
}

html, body {
  padding: 0;
  /* cursor: url(/images/cursor_black.png), default; */
    }

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

ul, li {
  list-style-type: none;
}

li {
  padding: 2em;
}

/* .demo {
  display: none;
} */


a {
  text-decoration: none;
  color: black;
  padding: 0.25em 1.25em;
}

a:hover {
  color: white;
  background: black;
  border-radius: 2em;
  padding: 0.25em 1.25em;
  cursor: grabbing;
}
