:root {
  --primary-font: "Arial", sans-serif;
  --secondary-font: "Times New Roman", serif;
  --text-color: #000;
  --text-color-secondary: #FFF;
  --accent-color: #8B6C38;
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 1em;
  cursor: none;
}

::selection {
  background: var(--text-color);
  color: var(--text-color-secondary);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p, a {
  padding: 0;
  margin: 0;
}

p span {
  display: none;
}

p:hover {
  cursor: none;
}

p:hover span {
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  /* color: #8B6C38; */
  cursor: none;
  font-family: var(--secondary-font);
}

/*
.hidden {
  display: none;
} */
main {
  position: absolute;
  z-index: -10;
}