* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-font: 'Arial', sans-serif;
	--secondary-font: 'Times New Roman', serif;
	--text-color: #000;
	--text-color-secondary: #fff;
	--green-color: #26ff00;
	font-family: var(--primary-font);
	font-size: 1em;
}

body {
	width: 100%;
	min-height: 100vh;
}

.content {
	width: 80vw;
	margin: 1em auto;
}

.top-bar {
	width: inherit;
	display: flex;
	justify-content: center;
}

.music-image img {
	height: 15vh;
	width: 80vw;
	max-width: 380px;
	margin: 1em auto;
}

.image-wrapper {
	display: flex;
	justify-content: center;
}

.music-titles {
	text-align: center;
	/* border: 1px solid var(--green-color); */
}
.music-titles span {
	border-right: 1px solid var(--green-color);
	/* border-left: 1px solid var(--green-color); */
}

.music-titles .name {
	text-transform: uppercase;
	border-top: 1px solid var(--green-color);
	border-right: 1px solid var(--green-color);
	border-left: 1px solid var(--green-color);
	border-radius: 3em 3em 0 0;
	margin: 0;
	padding: 0.5em 1em 0 1em;
}

.music-titles .artist {
	border-bottom: 1px solid var(--green-color);
	border-right: 1px solid var(--green-color);
	border-left: 1px solid var(--green-color);
	border-radius: 0 0 3em 3em;
	margin: 0;
	padding: 0.25em 0.5em 0.5em 0.5em;
}
.artist::before {
	content: 'by ';
}

.music-titles .friend {
	font-style: italic;
	border: 1px solid var(--green-color);
	padding: 0.5em;
	margin: 0;
}

.friend::before {
	content: 'sent from ';
	font-style: normal;
}

.progress-wrapper {
	padding: 1em;
	border-bottom: 1px solid var(--green-color);
	border-right: 1px solid var(--green-color);
	border-left: 1px solid var(--green-color);
}

.progress-details {
	height: 1em;
	background-color: silver;
}

.progress-bar {
	width: 10%;
	height: inherit;
	background-color: var(--green-color);
	position: relative;
	cursor: pointer;
}

.progress-bar span {
	position: absolute;
	width: 0.25rem;
	height: 2rem;
	background-color: var(--green-color);
	transform: translateY(-0.5rem);
	right: -0.125rem;
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.progress-details:hover .progress-bar span {
	opacity: 1;
}

.time {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 0;
	/* border-right: 1px solid var(--green-color);
	border-left: 1px solid var(--green-color);
	border-bottom: 1px solid var(--green-color); */
}

.control-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: baseline;
	height: fit-content;
}

.control-btn div {
	width: 50%;
	text-align: center;
	padding: 10vh 0;
	margin-top: 0.25em;
	text-transform: uppercase;
	border: 1px solid var(--green-color);
	color: var(--green-color);
}

.control-btn div:hover {
	cursor: pointer;
	border: 1px solid white;
	background-color: var(--green-color);
	color: white;
}

.control-btn div:active {
	border: 1px inset var(--green-color);
	text-transform: uppercase;
	font-style: italic;
	cursor: grabbing;
}

.control-btn div:nth-of-type(1) {
	margin-right: 0.125em;
}

.control-btn div:nth-of-type(2) {
	margin-left: 0.125em;
}
