:root {
	--primary-font: 'Arial', sans-serif;
	--secondary-font: 'Times New Roman', serif;
	--text-color: #000;
	--text-color-secondary: #fff;
	--green-color: #26ff00;
	font-family: var(--primary-font);

	font-size: 1em;
}
.content {
	width: 80vw;
	margin: 1em auto;
	/* border: 1px solid rgb(163, 225, 31); */
}

.top-bar {
	    width: inherit;

	display: flex;
    justify-content: center;
}

.music-titles {
	text-align: center;
}

.music-titles span {
	border-right: 1px solid var(--green-color);
	/* border-left: 1px solid var(--green-color); */
}

.music-titles .title {
	text-transform: uppercase;
	border-top: 1px solid var(--green-color);
	border-right: 1px solid var(--green-color);
	border-left: 1px solid var(--green-color);
	border-radius: 3em 3em 0 0;
	margin: 0;
	padding: 0.5em 1em 0 1em;
}

.artist {
	border-bottom: 1px solid var(--green-color);
	border-right: 1px solid var(--green-color);
	border-left: 1px solid var(--green-color);
	border-radius: 0 0 3em 3em;
	margin: 0;
    padding: 0.25em 0.5em 0.5em 0.5em;
}

.artist::before {
	content: 'by ';
}
.music-titles .friend {
	font-style: italic;
	border: 1px solid var(--green-color);
	padding: 0.5em;
	margin: 0;
}

.friend::before {
	content: 'sent from ';
	font-style: normal;
}

.friend::after {
	content: ' (^-^)';
	font-style: normal;
	color: var(--green-color);
}

.progress-wrapper {
	padding: 1em;
	border-right: 1px solid var(--green-color);
	border-left: 1px solid var(--green-color);

}
.progress-details {
	height: 1rem;
	background-color: silver;
}

.progress-bar {
	width: 10%;
	height: inherit;
	background-color: var(--green-color);
	position: relative;
	cursor: pointer;
}

.progress-bar span {
	position: absolute;
	width: 0.25rem;
	height: 2rem;
	background-color: var(--green-color);
	transform: translateY(-0.5rem);
	right: -0.125rem;
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.progress-bar:hover span {
	opacity: 1;
}

.time {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em 1em 1em;
	border-right: 1px solid var(--green-color);
	border-left: 1px solid var(--green-color);
	border-bottom: 1px solid var(--green-color);
}

.control-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: baseline;
	height: fit-content;
}

.control-btn div {
	width: 50%;
	border: 1px outset var(--green-color);
	text-align: center;
	padding: 1em 0;
	margin-top: 0.25em;
}

img {
    height: 15vh;
    width: 80vw;
    max-width: 420px;
    margin: 1em auto;
}
